@import "./commonSource.css";

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 42px;
    max-width: var(--main-container-maxWidth);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    width: 100%;
}

.button-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.btn {
    background: var(--button-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h1 {

    color: #fff;
    font-family: var(--font-logo);
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 72px;
    margin-left: -135px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.line {
    margin-top: 42px;
    height: 1px;
    width: 100%;
    background: #fff;
    opacity: 0.3;
}

.menu {
    margin-top: 24px;
    text-decoration: none;
}

li {
    display: inline;
    color: #fff;
    margin-left: 5px;
    font-family: var(--font-text);
    letter-spacing: 3px;
    font-size: 19px;
    font-weight: 300;
    margin-right: 5px;
}

i {
    font-size: 24px;
}

/*Carousel*/
.carousel-container {
    max-width: var(--carousel-maxWidth);
    height: var(--carousel-maxHeight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;

    .carousel {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: var(--font-text);
        background-color: black;

        &>img {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
            opacity: 0.4;
            object-fit: cover;
            object-position: 0 -130px;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            z-index: 2;

            & ul {
                padding: 0;
                list-style-type: none;
                font-family: var(--font-text);
                margin: 0;

                & li {
                    font-size: 16px;
                }

                >li:before {
                    content: "\2022";
                    margin-right: 8px;
                    color: var(--green-cat-color);
                }
            }

            & h1 {
                font-family: var(--font-titles);
                font-weight: 400;
                font-size: 3.5rem;
                margin: 24px 0;
            }

            .author {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;
                font-family: var(--font-text);
                font-size: 18px;
                font-weight: 300;

                .imgJohn {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-image: url("../rss/pexels-photo-941693.jpeg");
                    background-repeat: no-repeat;
                    background-size: 250%;
                    background-position: -45px -10px;
                }

                & ul.info {
                    list-style-type: none;

                    & li {
                        font-size: 16px;
                    }

                    >li:before {
                        content: "◆";
                        margin-right: 16px;
                        color: var(--links-color);
                    }
                }
            }

            .button-container {
                width: 224px;
                height: 54px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ff8291;
                margin-top: 24px;

                & button {
                    box-sizing: border-box;
                    background: #ff5e71;
                    color: white;
                    font-family: var(--font-text);
                    font-weight: 600;
                    width: 220px;
                    height: 50px;
                    border: none;
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }

    .indicators {
        margin-top: 16px;
        display: flex;
        gap: 10px;

        .indicator.active {
            width: 30px;
            border-radius: 10px;
            background-color: var(--links-color);
            border: var(--links-color);
        }

        .indicator {
            width: 15px;
            height: 15px;
            border: 1px solid white;
            border-radius: 50%;
            gap: 4px;
        }
    }
}

/*Main content*/
.main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--main-container-maxWidth);
    margin: 0 auto;
    gap: 68px;
    margin-top: 64px;
}

/*Articles content*/
.articles-container {
    max-width: var(--articles-container-maxWidth);
}

.container-art {
    position: relative;
    display: flex;
    width: 800px;
    height: 370px;
    gap: 20px;
    box-shadow: inset 0 0 1em transparent, 0 0 1em rgba(17, 17, 17, 0.494);
    background: var(--article-bg-color);
    margin-bottom: 64px;
}

.imgArticles {
    display: flex;

    .imgArticles-1 {
        height: 370px;
        width: 370px;
        object-fit: cover;
        object-position: -95px 0px;
    }

    .imgArticles-2 {
        height: 370px;
        width: 370px;
        object-fit: cover;
        object-position: 0px 0px;
    }

    .imgArticles-3 {
        height: 370px;
        width: 370px;
        object-fit: cover;
        object-position: 0px -145px;
    }

    .imgArticles-4 {
        height: 370px;
        width: 370px;
        object-fit: cover;
        object-position: 0px -155px;
    }
}

.text {
    margin-top: 10px;
    margin-left: 30px;

    & ul {
        position: absolute;
        top: 15%;
        padding: 0;
        list-style-type: none;
        font-family: var(--font-text);
        margin: 0;

        & li {
            font-size: 13px;
            letter-spacing: 1px;
        }

        >li:before {
            content: "\2022";
            margin-right: 8px;
            color: var(--green-cat-color);
        }
    }

    .articles-author {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        font-family: var(--font-text);
        font-size: 14px;
        font-weight: 300;

        .articles-imgJohn {
            width: 40px;
            height: 40px;
            margin-right: 12px;
            border-radius: 50%;
            background-image: url("../rss/pexels-photo-941693.jpeg");
            background-repeat: no-repeat;
            background-size: 250%;
            background-position: -30px -7px;
        }

        & p {
            margin-right: 8px;
        }

        .date {
            font-size: 14px;
        }

        .date:before {
            content: "◆";
            margin-right: 8px;
            color: var(--links-color);
        }
    }

    & h2 {
        margin-top: 80px;
        margin-bottom: -10px;
        font-weight: 100;
        color: #fff;
        font-family: var(--font-titles);
        font-size: 40px;
    }

    & p {

        margin-right: 20px;
        color: #fff;
        font-family: var(--font-text);
        line-height: 35px;
    }

}

.articlesBtn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10%;
    left: 82%;

    & button.artBtn {
        width: 35px;
        height: 35px;
        background: #ff8291;
        border-radius: 50%;
        border: none;
        margin-left: 10px;
        color: #fff;
    }
}

.suiteBtn {
    position: absolute;
    width: 160px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8291;
    margin-top: 24px;
    color: #fff;
    top: 90%;
    margin-left: 77%;

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background: var(--button-gradient);
        color: white;
        font-family: var(--font-text);
        font-weight: 600;
        width: 158px;
        height: 32px;
        border: none;
        font-size: 14px;
        padding: 10px;
    }
}

/*Sider content*/
.siders-container {
    width: var(--sidebar-maxWidth);
    color: white;
    align-self: flex-start;

    .siders-small-container {
        margin-bottom: 64px;
    }

    .sider-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font-titles);
        font-size: 20px;
        padding: 0 16px;

        & h2 {
            margin-top: 0;
        }

        .separator-line {
            border-top: 2px solid var(--links-color);
            width: 100px;
        }
    }

    .sider1-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 16px;

        .sider-articles {
            display: flex;
            gap: 10px;

            .img1 {
                width: 120px;
                height: 100px;
                background-image: url("../rss/pexels-photo-984578.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0 -20px;
            }

            .img2 {
                width: 120px;
                height: 100px;
                background-image: url("../rss/pexels-photo-3573383.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img3 {
                width: 120px;
                height: 100px;
                background-image: url("../rss/pexels-photo-1480523.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
            }

            .sider1-content-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                font-family: var(--font-text);

                & h3 {
                    margin: 0;
                    font-family: var(--font-titles);
                    font-weight: 200;
                }

                & p {
                    font-size: 13px;
                    margin: 0;
                    margin-top: 15px;
                }

                & p:before {
                    content: "◆";
                    margin-right: 8px;
                    color: var(--links-color);
                }
            }
        }
    }

    .sider2-medias {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .sider2-twitter {
            box-sizing: border-box;
            background-color: var(--twitter-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;

            & div {
                display: flex;
                flex-direction: column;
                margin: 8px 20px;

                & h3,
                p {
                    margin: 0;
                }

                & h3 {
                    font-size: 21px;
                }

                & p {
                    text-transform: uppercase;
                    font-size: 10px;
                }
            }

            & i {
                font-size: 35px;
                margin: 8px 20px;
            }
        }

        .sider2-facebook {
            box-sizing: border-box;
            background-color: var(--facebook-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;

            & div {
                display: flex;
                flex-direction: column;
                margin: 8px 20px;

                & h3,
                p {
                    margin: 0;
                }

                & h3 {
                    font-size: 21px;
                }

                & p {
                    text-transform: uppercase;
                    font-size: 10px;
                }
            }

            & i {
                font-size: 35px;
                margin: 8px 20px;
            }
        }

        .sider2-instagram {
            box-sizing: border-box;
            background-color: var(--instagram-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;

            & div {
                display: flex;
                flex-direction: column;
                margin: 8px 20px;

                & h3,
                p {
                    margin: 0;
                }

                & h3 {
                    font-size: 21px;
                }

                & p {
                    text-transform: uppercase;
                    font-size: 10px;
                }
            }

            & i {
                font-size: 35px;
                margin: 8px 20px;
            }
        }
    }

    .sider3-categories {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 0 16px;

        & p {
            font-family: var(--font-text);
            margin: 0;
        }

        & p:before {
            content: "●";
            margin-right: 8px;
        }

        .purple:before {
            color: var(--purple-cat-color);
        }

        .green:before {
            color: var(--green-cat-color);
        }

        .aqua:before {
            color: var(--aqua-cat-color);
        }

        .pink:before {
            color: var(--pink-cat-color);
        }

        .darkBlue:before {
            color: var(--blue-cat-color);
        }

        .blue:before {
            color: var(--lightblue-cat-color);
        }
    }

    .sider4-img {
        width: 80%;
        height: 530px;
        margin: 0 auto;
        background-image: url("../rss/pexels-photo-331987.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 150%;
        background-position: -60px -110px;
    }
}

/*Footer*/

.footerTitle {
    width: auto;
    height: 100px;
    background: var(--article-bg-color);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footerCreative {
    font-family: var(--font-logo);
    font-size: 64px;
    color: #fff;
    margin-left: 360px;
}

.footerMenu {
    margin-right: 430px;
}

.footerInfo {
    max-width: var(--main-container-maxWidth);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin: auto;
    margin-bottom: 50px;

}

.footerInfo{
    display: flex;
    color: #fff;
}
.footerReseaux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background: var(--article-bg-color);
    font-family: var(--font-titles);
}
.footerSocialTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    margin-top: 10px;

    & h3{
        margin: 0;
    }

    & div{
        height: 2px;
        width: 160px;
        background: var(--links-color);
    }
}
.footerSocialReseaux{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    .Tw{
        
        & i{
            color: var(--twitter-color);
        }
    }
    .Fb{
        & i{
            color: var(--facebook-color);
        }
    }
    .Pi{
        & i{
            color: var(--pinterest-color);
        }
    }
    .In{
        & i{
            color: var(--instagram-color);
        }
    }
}
.footerMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footerSubscribe{

    .footerSubscribeTitle{
        display: flex;
        align-items: center;
        gap: 20px;

        & h3{
            margin: 0;
            font-size: 24px;
        }

        & div{
            height: 2px;
            width: 90px;
            background: var(--links-color);
        }
    }
    & p{
        margin: 8px 0;
    }
}
.footerLine {
    width: 1200px;
    height: 2px;
    background: #fff;
    margin: auto;
    margin-bottom: 20px;
    opacity: 0.3;
}

.footerCopyUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100px;
    width: auto;
    background: var(--article-bg-color);
    margin-bottom: 20px;
    color: #fff;
    font-family: var(--font-text);
}

.footerCopyright {
    margin-left: 450px;
}

.footerUp {
    margin-left: 400px;
}

.footerUp:after {
    content: "▲";
    margin-left: 5px;
    color: var(--links-color);
}

/*Index2*/
/*Main2 content*/

.main2-content-container {
    display: flex;
    justify-content: center;

    max-width: var(--main-container-maxWidth);
    margin: 0 auto;
    gap: 68px;
    margin-top: 64px;
}

/*Articles2 content*/

.articles2-container {
    max-width: var(--articles-container-maxWidth);

}

.container2-art {
    display: flex;
    width: 800px;
    gap: 20px;
}

.p2-imgContainer {
    height: 491px;
    width: 786px;
    background-image: url(../rss/pexels-photo-1480523.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    font-size: 1rem;
    color: #fff;
    margin: 0;
    margin-top: 70px;
    gap: 20px;



    & ul {
        padding: 0;
        list-style-type: none;
        font-family: var(--font-text);
        margin: 0;

        & li {
            font-size: 16px;
        }

        >li:before {
            content: "\2022";
            margin-right: 8px;
            color: var(--green-cat-color);
        }
    }

    & h1 {
        font-family: var(--font-titles);
        font-weight: 400;
        font-size: 3rem;
        margin: 24px 0;
    }

    .author2 {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        font-family: var(--font-text);
        font-size: 18px;
        font-weight: 300;
        size-adjust: 25px;

        .imgJohn2 {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-image: url("../rss/pexels-photo-941693.jpeg");
            background-repeat: no-repeat;
            background-size: 250%;
            background-position: -45px -10px;
        }

        & ul.info2 {
            list-style-type: none;

            & li {
                font-size: 16px;
            }

            >li:before {
                content: "◆";
                margin-right: 16px;
                color: var(--links-color);
            }
        }
    }
}
.link2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.articles2-Btn { 
    display: flex;
    align-items: center;
   

    & button.artBtn {
        width: 35px;
        height: 35px;
        background: #ff8291;
        border-radius: 50%;
        border: none;
        margin-left: 10px;
        color: #fff;
    }
}

.text2-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
}

.title2 {
    font-family: var(--font-text);
    font-size: 48px;
    text-align: left;
    margin: 0;
    margin-top: 40px;

}

.lorem2 {
    font-family: var(--font-text);
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 34px;
}
