html, body{
    margin: 0;
    padding: 0;
    background-color: #33264E;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    height: 150px;
    width: 800px;
}
.button-header{

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;  
}
.btn{

    background: linear-gradient(0.25turn, #FF6071,#FF7E8E);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    margin-left: 5px;

}

button{
    width: 30px;
    height: 30px;
    border-radius: 50%;   
}
h1{
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: "Vampiro One", cursive;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 35px;
    margin-left: -100px;
}
.line{
    height: 1px;
    width: 800px;
    background: #fff;
}
.menu{
   
    text-decoration: none;

}
li{
    display: inline;
    color: #fff;
    margin-left: 5px;
    font-family: "Mulish", sans-serif;
    font-size: smaller;
    font-weight: 300;
}
.carousel-container{
    max-width: var(--carousel-maxWidth);
    height: var(--carousel-maxHeight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    

    .carousel{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: var(--font-text);
        background-color: black;
        
       
        & >img{
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
            opacity: 0.3;
            object-fit: cover;
            object-position: 0 -130px;
        }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            z-index: 2;
            
            & ul{
                padding: 0;
                list-style-type: none;
                font-family: var(--font-text);
                font-size: 20px;

                >li:before{
                    content: "\2022";
                    margin-right: 8px;
                    color: var(--green-cat-color);
                }
            }
            & h1{
                font-family: var(--font-titles);
                font-weight: 400;
                font-size: 3.5rem;
                margin: 24px 0;
                
            }
            .author{
                display: flex;
                gap: 24px;
                font-family: var(--font-text);
                font-size: 20px;
    
                & img{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                & ul{
                    list-style-type: none;

                    >li:before{
                        content: "◆";
                        margin-right: 16px;
                        color: var(--links-color);
                    }
                }
            }
            & button{
                box-sizing: border-box;
                background-color: var(--links-color);
                color: white;
                margin-top: 24px;
                font-family: var(--font-text);
                font-weight: 600;
                width: 220px;
                height: 50px;
                border: none;
                font-size: 20px;
                padding: 10px;
            }
        } 
    }

    .indicators{
        margin-top: 16px;
        display: flex;
        gap: 10px;
        
        .indicator.active{
            width: 30px;
            border-radius: 10px;
            background-color: var(--links-color);
            border: var(--links-color);
        }

        .indicator{
            width: 15px;
            height: 15px;
            border: 1px solid red;
            border-radius: 50%;
            gap: 4px;
        }
    }
}